:root {
  --text-color: rgb(251, 201, 126);
}
.results {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: .5s;
  text-align: center;
}
.results-container {
  height: 80vh;
  overflow: scroll;
  width: 100%;
  max-width: 780px;
  padding: 10px ;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
}
.errors {
  margin-bottom: 10px;
  font-size: 24px;
}
.errors-number {
  background-color: tomato;
  color: white;
  border-radius: 30%;
  padding: 0 10px;
  margin-left: 5px;
}
.success {
  margin: 10px 0;
  font-size: 24px;
}
.success-number {
  background-color: #00c2b2;
  color: white;
  border-radius: 30%;
  padding: 0 10px;
  margin-left: 5px;
}
.results__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2px 0;
  min-width: 170px;
  cursor: pointer;
  font-size: 20px;
  padding: 3px 0;
  border-radius: 5px;
}
.results__text {
  margin: 10px;
}
.success-items {
  margin-bottom: 10px;
}
.results__btns button{
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  border:solid 2px var(--text-color);
  outline: none;
  background: transparent;
  color: var(--text-color);
  cursor:pointer;
}
.results__btns button:hover{
  background-color: var(--text-color);
  color: black;
}