.dictionary-header-buttons {
    box-sizing: border-box;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100vw;
    height: 70px;
    border-bottom: 1px solid rgb(168, 167, 167);
    z-index: 10;  
}

.dictionary-btn {
    background-color: rgb(77, 129, 185);
    color: white;
    width: 20vw;
    height: 60px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    margin: 0 2px;
    cursor: pointer;
}

.active {
    background-color: rgb(19,40,59);
}

.dictionary-words-list {
    padding-bottom: 5px;
}

.dictionary-word-container {
    padding: 10px 40px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(168, 167, 167); 
}

.word-info {
    width: 80vw;
}

.word-main-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.word-text {
    margin: 0;
    width: 40vw;
}

.word-audio {
    display: flex;
}

.dictionary-word {
    color: rgb(19,40,59);
    padding-bottom: 5px;
    font-size: 20px;
}

.audio-icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

.audio-icon {
    width: 20px;
}

.dictionary-transcription {
    margin: 0;
    color: rgb(95, 95, 95);
    font-size: 12px;
    padding-bottom: 10px;
}

.dictionary-translation {
    margin: 0;
    color: rgb(95, 95, 95);
    padding-bottom: 10px;
}

.dictionary-meaning {
    margin: 0;
    color: rgb(19,40,59);
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 10px;
}

.dictionary-example {
    margin: 0;
    color: rgb(77, 129, 185);
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 10px; 
}



.dictionary-image {
    width: 20vw;
}

.word-learning-info {
    margin: 0;
    color: rgb(19,40,59);
    font-size: 12px;
    margin-top: 20px;
    display: flex;
}

.dictionary-repeats {
    padding: 0 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 1px solid rgba(168, 167, 167, 0.6);
    border-right: 1px solid rgba(168, 167, 167, 0.6);
}

.put-to-learning-btn {
    width: 15vw;
    align-self: center;
    margin-left: 20px;
}

.train-hard-btn {
    margin-left: 40vw;
    width: 20vw;
    text-align: center;
}

.invisible {
    display: none;
}
