.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color:white;
  font-size: 2rem;
  overflow: auto;
}

.modal__container{
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 20px;
}

/* SignIn style */

.form-container{
  padding: 30px;
  background-color: white;
}
.form-container > h3 {
  color: black;
}
.form-group {
  margin-bottom: 2rem;
}
.form-group_red{
  background-color: red;
}
.form-btns > * {
  margin-right: 1rem;
  cursor: pointer !important;
}
.promt{
  display: inline-block;
  position: relative;
}
.promt__text{
  color: black;
  margin-bottom: 2rem;
}

.liquid{
  background-color: rgba(195, 50, 50, 0.8);
}
.solid{
  background-color: rgba(72, 174, 71, 0.8);
}

.password_correct {
  color: green;
}
.password_wrong {
  color: red;
}