.wrapper__home-page {
  // background-color: LightCyan;
  // background-image: url('./images/machine-learning-tag-cloud.jpg') rgba(0,0,0,0.5);
  // background-size: cover; 
  // background-repeat: no-repeat;
  // opacity: 0.5;
  position: relative;
  height: 100vh;
}
.wrapper__home-page::after {
  content: "";
  background-image: url('./images/stars-001.jpeg');
  // opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.home-page{
  padding-top: 2rem;
}

.mini-games {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  .button-game {
    text-align: center;
    align-content: center;
    width: 100%;
    height: 20rem;
    margin-bottom: 1rem;
  }
}
.mini-games > li {
  display: flex;
  flex: 30%;
  width: 100%;
}
.mini-games .button_game {
  color: black;
  width: 100%;
  height: 20rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}
.mini-games li:nth-child(2) > * {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mini-games li:nth-child(4) > * {
  height: 30rem;
  margin-right: 0.5rem;
  margin-bottom: 0;
}
.mini-games li:nth-child(5) > * {
  height: 30rem;
  margin-left: 0.5rem;
  margin-bottom: 0;
}

.start-menu {
  display: flex;
  align-items: center;
  font-size: 2rem;
  background-color: rgba(218, 202, 202, 0.8);
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.start-menu__logo {
  display: flex;
  align-items: center;
}
.user-info__title {
  margin-right: 1rem;
}
.settings-container {
  display: flex;
  flex: 40%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 3rem;
  width: 40%;
  // position: relative;

  .button-training {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3a4da8;
    padding: 30px 16px;
    margin-left: 1rem;
    border-radius: 1rem;

    &:hover {
      background-color: #283da4;
    }
  }

  .button-settings {
    color: coral;
  }
}
.settings-container * {
  // flex: 30%;
  margin: 0.3rem;
  font-size: 2rem;
}

.button-settings_bordered {
  color: black;
  margin-right: 1rem;
  &:hover {
    color: black;
  }
}

// ======= INPUT STYLES =========

.settings-inputs {
  display: flex;
  align-items: center;
  
    font-size: 2rem;
  

  .word-input_setting {
    max-width: 6rem;
    font-size: 2rem;
  }

  &:last-child {
    justify-content: flex-end;
  }
}
