body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.start-screen {
  position: absolute;
  background-image: url('./assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.start-name {
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color:  #00c2b2;
  margin: 0 0 20px 0;
  -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.start-info {
  margin: 0 auto 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  max-width: 600px;
  color: rgb(39, 36, 36);
}

.start-button {
  background-color: #115569;
  color: wheat;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid grey;
  outline: 0;
}

.start-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.hidden {
  display: none !important;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.settings-inputs {
  max-width: 30px;
  margin: 0 5px;
  text-align: center;
}

.rating {
  display: flex;
}

.star {
  width: 40px;
  height: 40px;
  background-size: 40px;
}

.mic {
  width: 30px;
  height: 37px;
  position: absolute;
  padding-left: 5px;
  opacity: 0.8;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1120px;
}

.result-card {
  display: flex;
  flex-direction: column;
}

.image {
  width: 390px;
  height: 220px;
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 10px 0;
  object-fit: initial;
}

.translation {
  color: rgb(39, 36, 36);
  text-align: center;
  min-height: 45px;
  text-align: center;
  font-size: 24px;
}

.input-speech {
  min-height: 30px;
  text-align: center;
  font-size: 24px;
  color: rgb(39, 36, 36);
  border: 1px solid rgb(39, 36, 36);
  padding: 5px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto 65px;
}

.card {
  border-radius: 10px;
  border: 1px solid grey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 10px 10px 10px;
  min-width: 170px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 9px -1px 12px -1px rgba(0, 0, 255, .2);
  font-size: 20px;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.card-active {
  background-color: rgba(0, 173, 159, .25);
}

.card__icon {
  width: 40px;
  height: 40px;
  background-size: cover;
}

.card__text {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.btns {
  display: flex;
}

.btn {
  color: seashell;
  margin: 0 10px;
  background-color: #00c2b2;
  padding: 8px 20px;
  font-size: 24px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  outline: 0;
  border: 0;
}

.btn-wide {
  width: 300px;
}

.btn-small {
  padding: 5px;
}

.btn-return, .btn-new-game, .btn-small {
  font-size: 20px;
}

/*****************STATS*******************/

.results {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: .5s;
  text-align: center;
}

.results-container {
  width: 100%;
  max-width: 780px;
  padding: 10px ;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
}

.errors {
  margin-bottom: 10px;
  font-size: 24px;
}

.errors-number {
  background-color: tomato;
  color: white;
  border-radius: 30%;
  padding: 0 10px;
  margin-left: 5px;
}

.success {
  margin: 10px 0;
  font-size: 24px;
}

.success-number {
  background-color: #00c2b2;
  color: white;
  border-radius: 30%;
  padding: 0 10px;
  margin-left: 5px;
}

.results__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2px 0;
  min-width: 170px;
  cursor: pointer;
  font-size: 20px;
  padding: 3px 0;
  border-radius: 5px;
}

.results__text {
  margin: 10px;
}

.success-items {
  margin-bottom: 10px;
}