.game__string{
  display: flex;
  width: 800px;
  justify-content: flex-start;
  height: 70px;
  background-color: #d1c6cf;
}
.game__string:last-child {
  margin-top: 2rem;
}
.lds-ring {
  margin: 0 auto;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.item__container{
  display: flex;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.Statistic__word{
  display: flex;
}
.main__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 50%;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.game__word{
  color: white;
  font-size: 2rem;
  height: 70px;

  /* border: 1px solid black; */
}
.game__word__text{
  color: black;
}
.true__word{

  color: green;

}
.false__word{

  color: red;
}
.game__hint > .button_colored {
  margin-right: 2rem;
}
.button__active{
  background-color: green;
}

.start__page__main__bg{
  font-size: 2rem;
  color: white;
  height: 100vh;
  background-image: url("./English-Puzzle/assets/olen_art_vektor_134088_1920x1080.jpg");
  background-size: cover;
}
.start__page__main__container{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  text-align: center;

}
.english__header{
  width: 100vw;
  justify-content: center;
  display: flex;

}
.english__header__button__container{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.game__hint{
  text-align: center;
}

.play__field{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.btn-further {
  margin: 2rem;
  font-size: 2rem;
}
.statistic__string{
  display: flex;
  padding: 0.5rem;
}
.statistic__string > *:first-child {
  margin: 0 1rem;
}

.btn {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  border: 0;
  outline: 0;
  border-radius: 5px;
  padding: 7px 12px 7px;
  background-color: #279c3f;
  color: rgb(17, 13, 13);
  transition: all 0.3s linear;
  margin: 10px 5px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.translation-example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
}
.game__text {
  font-size: 2rem;
}

.end__screen__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.end__screen__main img {
  width: 100%;
}
.end__screen__main .button {
  margin: 2rem 1rem;
}
.image-name-result {
  font-size: 2rem;
  text-align: center;
}
.puzzle-result-message {
  display: flex;
  font-size: 1.8rem;
  margin: 0;
  align-items: center;
}
.puzzle-statistic-info {
  padding: 2rem;
}
.puzzle-final-message {
  font-size: 2.5rem;
  margin-left: 2rem;
}
.puzzle-statistic-button-container {
  margin: 2rem;
  margin-left: 3.5rem;
}
.loading__container{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 80vh;
}

/* ================ MEDIA ============ */

@media (max-width: 840px) {
  .play__field {
    flex-direction: column;
    transform: rotate(-90deg);
  }
  div .play__field {
    display: flex;
    margin-top: 32rem;
  }
}

@media (max-width: 490px) {
  .game__hint > * {
    margin: 0;
    margin-right: 0 !important;
    margin: 1rem 0;
  }
}

@media (max-width: 380px) {
  .english__header__button__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
